# Assignment Day 6 | Python Functions

## Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program<br/>
to print the company name of a given email address. Both user names and company names are composed of letters<br/>
only.<br/>
Input Format:<br/>
The first line of the input contains an email address.<br/>
Output Format:<br/>
Print the company name in single line.<br/>
Example;<br/>
Input: john@google.com<br/>
Output: google

In [5]:
s = 'yewale.r@accenture.com'

def company(x):
    x = x.split('@') #['yewale.r', 'accenture.com']
    print(x)
    x = x[1]        
    print(x)
    x = x[:-4]
    return x

print(company(s))

['yewale.r', 'accenture.com']
accenture.com
accenture

## Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma<br/>
separated sequence after sorting them alphabetically.<br/>
Input Format: The first line of input contains words separated by the comma.<br/>
Output Format: Print the sorted words separated by the comma.<br/>
Example:<br/>
Input: without,hello,bag,world<br/>
Output: bag,hello,without,world

In [11]:
l = 'without,hello,bag,world'
s = l.split(',')
s = sorted(s)
s = ','.join(s)
print(s)

bag,hello,without,world

## Question 3: Sets
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [14]:
set1 = {"apple", "banana", "cherry"}
print(set1)

{'apple', 'banana', 'cherry'}

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword

In [15]:
for x in set1:
    print(x)

apple
banana
cherry

Check if "banana" is present in the set:

In [18]:
print("banana" in set1)

True

In [20]:
set1.add("orange")
print(set1)
set1.remove("orange") #If the item to remove does not exist, remove() will raise an error
print(set1)
set1.update(["orange", "mango", "grapes"])
print(set1)
set1.discard("mango") #If the item to remove does not exist, discard() will NOT raise an error
print(set1)
print(len(set1))

{'apple', 'orange', 'cherry', 'banana', 'grapes'}
{'apple', 'cherry', 'banana', 'grapes'}
{'apple', 'orange', 'cherry', 'banana', 'grapes', 'mango'}
{'apple', 'orange', 'cherry', 'banana', 'grapes'}
5

You can also use the <b>pop()</b>, method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [22]:
x = set1.pop() 
print(x)
print(set1)

orange
{'cherry', 'banana', 'grapes'}

 Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [23]:
del set1   #The del keyword will delete the set completely
print(set1)

NameError: name 'set1' is not defined

<b>Join Two Sets</b><br/>
There are several ways to join two or more sets in Python.

You can use the <b>union()</b> method that returns a new set containing all items from both sets, or the <b>update()</b> method that inserts all the items from one set into another:

In [24]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

The update() method inserts the items in set2 into set1:

In [25]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

Both <b>union()</b> and <b>update()</b> will exclude any duplicate items

## Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.<br/>
Input Format: The first line contains n-1 numbers with each number separated by a space.<br/>
Output Format: Print the missing number<br/>
Example:
Input:1 2 4 6 3 7 8<br/>
Output:5<br/>
Explanation: In the above list of numbers 5 is missing and hence 5 is the input<br/>

In [30]:

x = '8 1 3 5 2'

def missing(x):
    mlist = []
    y = x.split()            #['8', '1', '3', '5', '2']
    print(y)
    y = [int(i) for i in y]  #converting each string element to int
    y = sorted(y)            # sorting the list
    print(y)
    for i in range(y[0],y[-1]+1):  #after sorting take (1st) and (last number+1) as range 
        if i not in y:
            mlist.append(i)
    return mlist

print('Missing numbers in list x:',missing(x))

['8', '1', '3', '5', '2']
[1, 2, 3, 5, 8]
Missing numbers in list x: [4, 6, 7]

## Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.<br/>
Example:<br/>
If the input list is:
12 24 35 24 88 120 155 88 120 155<br/>
Then the output should be:
12 24 35 88 120 155<br/>
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.<br/>
Input Format:
In one line take the elements of the list L with each element separated by a space.<br/>
Output Format:
Print the elements of the modified list in one line with each element separated by a space.<br/>
Example:<br/>
Input: 12 24 35 24<br/>
Output:
12 24 35

In [36]:
list1 = '12 24 35 24 12 35'
x = list1.split()
x = [int(i) for i in x]
x = sorted(x)
print(x)
final = []

for a in x:
    if a not in final:
        final.append(a)

print(final)

[12, 12, 24, 24, 35, 35]
[12, 24, 35]